

#top-nav {
    background-color: coral;
}

#top-nav li a::after {
    content: "☻ ";
}

#top-nav li:first-child a:hover {
    color: pink;
}

/* Dos ejemplos iguales: */
#top-nav li + li a {
    color: chartreuse;
}

#top-nav li:nth-child(2) a {
    color: chartreuse;
}

/* Fin ejemplos */ 

#top-nav img {
    width: 100px;
}

#presentacion {
    background-image: url("https://placekitten.com/1000/500");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

#presentacion h1 {
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
    background-color: #57af79;
    letter-spacing: 2px;
    opacity: 0.7;
}

.bb-black {
    border-bottom: 2px solid black;
}

h2.bb-black {
   border-top: 2px solid black; 
}